body{
  /* background-color: #fbfafb; */
  background-image: url(/static/img/background.png);
  background-size: cover; /* Optional: Cover the entire viewport */
  background-repeat: no-repeat; /* Optional: Prevent repeating */
  background-attachment: fixed; /* Make the background fixed */
}

#middle-posts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#flex{
  display: flex;
  width: 100%;
}

#middle-posts .greetings{
  margin-bottom: 50px;
  padding-top: 30px;
}

#middle-posts .greetings h1{
  color: #444344;
  margin-left: 300px;
}

#middle-posts .greetings p{
  color: #ABAAAB;
}

.post-structure{
  margin-left: 300px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-bottom: 30px;
  padding: 15px 25px;
  width: 500px;
  margin-top: 20px;
}

.post-structure a {
  text-decoration: none;
}

.post-structure .username{
  margin-bottom: 20px;
  color: #444344;
}

.post-structure .username h5{
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
}

.post-structure .username p{
  font-size: 12px;
  margin: 0 auto;
  color: #ABAAAB;
}

.post-structure .post-category{
  color: #fa7268;
  font-size: 12.5px;
  text-transform: uppercase;
  font-weight: bold;
}

.post-structure .post-text{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  color: #444344;
}

.post-structure .post-options{
  display: flex;
  border-top: #cac2ca63 solid 1px;
  padding-top: 20px;
  color: #ABAAAB;
}

.post-structure .post-options form button{
  border: none;
  background-color: none;
  background: none;
  cursor: pointer;
}

.post-structure .post-options span{
  margin-right: 20px;
}

.mobile-navbar{
  display: none;
  border-bottom: solid 0.5px grey;
  border-top: solid 0.5px grey;
  padding: 25px 0px;
  margin-bottom: 5%;
}

@media only screen and (max-width: 1000px) {
  #navbar, #topbar {
    display: none;
  }
  
  #middle-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .post-structure{
    margin-left: 0;
  }

  #posts{
    width: 75%;
  }

  #middle-posts .greetings h1 {
    margin-left: 0;
  }

  .mobile-navbar{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 10px;
  }
  .mobile-navbar a{
    text-decoration: none;
  }

  .mobile-navbar a .nav-item{
    background-color: none;
    text-decoration: none;
    color: grey;
    min-width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: none;
    transition: all 0.5s ease;
  }

  .mobile-navbar a .active{
    background-color: #fa7268;
    text-decoration: none;
    color: white;
    min-width: 180px;
    height: 40px;
    font-weight: normal;
    display: flex;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.3s ease;
  }

  .mobile-navbar a:hover .nav-item{
    background-color: #fa7268;
    color: white;
    font-weight: normal;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.5s ease;
  }

  .mobile-navbar a .active img, .mobile-navbar a .nav-item img{
    width: 20px;
    height: auto;
    margin-left: 30px;
    margin-right: 25px;
  }

}