body{
  background-image: url(/static/img/background.png);
  background-size: cover; /* Optional: Cover the entire viewport */
  background-repeat: no-repeat; /* Optional: Prevent repeating */
  background-attachment: fixed; /* Make the background fixed */
}

#middle-posts{
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

#category-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

#category-list a{
  text-decoration: none;
  color: #444344;
}

#category-list a .category-box{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px 0;
  max-width: 230px;
  min-width: 180px;
  border: #cac2ca63 solid 1px;
  text-align: center;
  margin-right: 20px;
  font-weight: bold;
  transition: all 0.4s ease;
}

#category-list a .category-box:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.4s ease;
}

.pink-rounded-button{
  background-color: #f38a82;
  color: white;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  font-family: 'century gothic';
  font-weight: bold;
  height: 43px;
  transition: all 0.4s ease;
  cursor: pointer;
  padding: 10px 15px;
  opacity: 0.85;
}

.pink-rounded-button:hover{
  background-color: #f3685e;
  transition: all 0.4s ease;
  opacity: 1;
} 

.greetings h1 {
  color: #444344;
  padding-top: 10px;
}

#second-bar .pink-rounded-button{
  margin-top: 50px;
}

.category-form{
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-top: 100px;
}

.category-form h1{
  font-size: 40px;
}

.category-form p{
  color: #ABAAAB;
}

.category-form form .account-int{
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 15px;
  font-family: 'century gothic';
  /* background-color: #EAEEED; */
  border: none;
  margin-bottom: 10px;
  font-size: 18px;
  margin-left: -20px;
  text-align: center;
  width: 100%;
  /* width: 250px; */
  margin-top: 30px;
  margin-bottom: 60px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.category-form p a {
  text-decoration: underline solid 2px #d9717100;
  color: black;
  transition: all 0.3s ease;
}

.category-form p a:hover{
  text-decoration: underline solid 2px #d971717d;
  transition: all 0.3s ease;
}

.pfp{
  width: 40px;
  height: 40px;
}

#create-post .post-structure{
  width: 500px;
}

#create-post .post-structure .flex h3{
  margin-left: 20px;
  margin-top: 7px;
}

#create-post .post-structure form textarea{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  color: #444344;
  font-family: 'century gothic';
  padding: 5px 10px;
  border: none;
  width: 500px;
  height: 60px;
  resize: none;
}

#create-post .post-structure form .pink-rounded-button{
  width: 100px;
  text-transform: uppercase;
  margin-left: 80%;
  letter-spacing: 2px;
}

#category-checklist{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

#cat-cta-btn{
  margin-top: 75px;
}

#cat-cta-btn a{
  text-decoration: none;
  margin-right: 40px;
}

#cat-cta-btn .underline-btn{
  text-decoration: underline solid 2px #d9717100;
  color: black;
  transition: all 0.3s ease;
}

#cat-cta-btn .underline-btn:hover{
  text-decoration: underline solid 2px #d971717d;
  transition: all 0.3s ease;
}

.underline-btn{
  text-decoration: underline solid 2px #d9717100;
  color: black;
  transition: all 0.3s ease;
}

.underline-btn:hover{
  text-decoration: underline solid 2px #d971717d;
  transition: all 0.3s ease;
}

.outline-pink-btn{
  color: #5c5b5c;
  border: #7973792a solid 2px;
  background: none;
  box-shadow: none;
  border-radius: 5px;
  font-family: 'century gothic';
  font-weight: bold;
  width: 225px;
  height: 43px;
  transition: all 0.4s ease;
  cursor: pointer;
  padding: 10px 15px;
  opacity: 0.85;
  letter-spacing: 1px;
}

.outline-pink-btn:hover{
  background-color: #f39c96;
  transition: all 0.4s ease;
  opacity: 1;
  color: white;
} 

#user-info{
  display: flex;
}

#user-history{
  background-color: white;
  /* padding: 5px 10px; */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 750px;
  z-index: 5;
  margin-top: -70px;
  position: absolute;
  margin-left: 340px;
}

.tabs {
  display: flex;
  /* background-color: #eee; */
  padding: 10px 20px;
  border-bottom: #8982892a solid 2px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 3px solid #d9717100;
  transition: all 0.2s ease;
  font-weight: bold;
  color: #777777;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.tab.active {
  border-bottom: #D97171 3px solid; /* Blue color for active tab */
  transition: all 0.2s ease;
}

.content {
  padding: 20px;
  border: 1px solid #ddd;
  border-top: none;
}

.posts, .comments, .liked-posts {
  display: none; /* Initially hide all content sections */
}

.posts.active, .comments.active, .liked-posts.active {
  display: block; /* Show the active content section */
}

.comments a, .liked-posts a, .posts a {
  text-decoration: none;
  color: #444344;
}

.comments a .comment-box{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: -20px;
  padding: 20px 10px 15px 20px;
  width: 500px;
  border: #cac2ca63 solid 1px;
}

.comment-sec .comment-box h6{
  font-size: 13px;
  margin: 0 auto;
}

.comment-sec .comment-box p{
  font-size: 14px;
  margin: 0 auto;
  margin-top: -10px;
}

.comment-stats{
  display: flex;
  margin-top: -20px;
  margin-bottom: -10px;
  border-top: #4443447c solid 1px;
  color: #7777778d;
  font-weight: bold;
  text-transform: uppercase;
}

.mobile-navbar{
  display: none;
  border-bottom: solid 0.5px grey;
  border-top: solid 0.5px grey;
  padding: 25px 0px;
}

@media only screen and (max-width: 1000px) {
  #navbar, #topbar {
    display: none;
  }
  
  #middle-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile-navbar{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 28px;
  }
  .mobile-navbar a{
    text-decoration: none;
  }

  .mobile-navbar a .nav-item{
    background-color: none;
    text-decoration: none;
    color: grey;
    min-width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: none;
    transition: all 0.5s ease;
  }

  .mobile-navbar a .active{
    background-color: #fa7268;
    text-decoration: none;
    color: white;
    min-width: 180px;
    height: 40px;
    font-weight: normal;
    display: flex;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.3s ease;
  }

  .mobile-navbar a:hover .nav-item{
    background-color: #fa7268;
    color: white;
    font-weight: normal;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.5s ease;
  }

  .mobile-navbar a .active img, .mobile-navbar a .nav-item img{
    width: 20px;
    height: auto;
    margin-left: 30px;
    margin-right: 25px;
  }

  .post-structure{
    margin-left: 0;
  }
  
  #category-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 50px;
  }

  .category-box{
    margin: 15px;
  }

  #middle-posts{
    justify-content: center;
    align-items: center;
    margin: auto;
  }

}