<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts in {{.CategoryName}}</title>
    <link href="/static/css/navbar.css" rel="stylesheet" type="text/css">
    <link href="/static/css/category-posts.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
</head>
<body>
    <div id="topbar">
        <img src="/static/img/LOGO.png" width="100px" height="auto" alt="logo"/>
    </div>
    <div id="flex">
        <div id="navbar">
            <!-- home -->
            <a href="/home">
                <div class="nav-item">
                    <img src="/static/img/home-icon.png" alt="home">
                    Home
                </div>
            </a>
            <!-- home -->
            <a href="/view_categories">
                <div class="active">
                    <img src="/static/img/categories.png" alt="category">
                    Categories
                </div>
            </a>
            <!-- create post -->
            {{if .LoggedInUser}}
            <a href="/create_post">
                <div class="nav-item">
                    <img src="/static/img/addpost.png" alt="home">
                    Create Post
                </div>
            </a>
            {{end}}
            <!-- profile -->
            {{if .LoggedInUser}}
            <a href="/profile">
                <div class="nav-item">
                    <img src="/static/img/user.png" alt="home">
                    Profile
                </div>
            </a>
            {{end}}
            <!-- logout -->
            {{if .LoggedInUser}}
            <a href="/logout">
                <div class="nav-item">
                    <img src="/static/img/leave.png" alt="home">
                    Log out
                </div>
            </a>
            {{else}}
            <a href="/login">
                <div class="nav-item">
                    <img src="/static/img/switch.png" alt="home">
                    Login
                </div>
            </a>
            {{end}}
        </div>
        <div id="middle-posts">
            <div class="greetings">
                <h1>Posts in {{.CategoryName}}</h1>
            </div>
            <div class="mobile-navbar">
                <a href="/home">
                    <div class="nav-item" >
                        <img src="/static/img/home-icon.png" alt="home">
                        Home
                    </div>
                </a>
                
                <a href="/view_categories">
                    <div class="active">
                        <img src="/static/img/categories.png" alt="category">
                        Categories
                    </div>
                </a>
                <!-- create post -->
                {{if .LoggedInUser}}
                <a href="/create_post">
                    <div class="nav-item">
                        <img src="/static/img/addpost.png" alt="home">
                        Create Post
                    </div>
                </a>
                {{end}}
                <!-- profile -->
                {{if .LoggedInUser}}
                <a href="/profile">
                    <div class="nav-item">
                        <img src="/static/img/user.png" alt="home">
                        Profile
                    </div>
                </a>
                {{end}}
                <!-- logout -->
                {{if .LoggedInUser}}
                <a href="/logout">
                    <div class="nav-item">
                        <img src="/static/img/leave.png" alt="home">
                        Log out
                    </div>
                </a>
                {{else}}
                <a href="/login">
                    <div class="nav-item">
                        <img src="/static/img/switch.png" alt="home">
                        Login
                    </div>
                </a>
                {{end}}
            </div>
            <div id="posts">
                {{if .Posts}}
                    {{range .Posts}}
                    <div class="post-structure">
                        <a href="/view_post/{{.PostID}}">
                        <div class="username">
                            <h5>{{.Username}}</h5>
                            <p>posted on ({{.PostDate}})</p>
                        </div>
                        <div class="post-category">
                            {{range .Categories}}
                            {{.}}
                            {{end}}
                        </div>
                        <div class="post-text">
                            {{.PostText}}
                        </div>
                    </a>
                        <div class="post-options">
                            {{if $.LoggedInUser}}
                            <form method="POST" class="like-form">
                                <button type="submit" class="like-button" data-post-id="{{.PostID}}" data-is-liked="{{.IsLiked}}">
                                    <div id="like-heart-{{.PostID}}" class="heartLike"></div>
                                </button>
                            </form>
                            {{end}}
                            <b>
                            Likes <span id="like-count-{{.PostID}}"> {{.LikeCount}}</span>
                            </b>
                            {{if $.LoggedInUser}}
                            <form method="POST" class="dislike-form">
                                <button type="submit" class="dislike-button" data-post-id="{{.PostID}}" data-is-disliked="{{.IsDisliked}}">
                                    <div id="dislike-heart-{{.PostID}}" class="heartDislike"></div>
                                </button>
                            </form>
                            {{end}}
                            <b>
                            Dislikes <span id="dislike-count-{{.PostID}}">{{.DislikeCount}}</span>
                        </b>
                        </div>
                    </div>
                    {{end}}
                {{else}}
                    <p class="empty">No posts found in this category.</p>
                {{end}}
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>
    <script src="/js/keepHeartRed.js"></script>
    <script src="/js/CloseBrowserLogout.js"></script>
</body>
</html>