<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Category</title>
    <link href="/static/css/navbar.css" rel="stylesheet" type="text/css">
    <link href="/static/css/create-category.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
</head>
<body>
    <div id="topbar">
        <img src="/static/img/LOGO.png" width="100px" height="auto" alt="logo"/>
    </div>
    <div id="flex">
        <div id="navbar">
            <!-- home -->
            <a href="/home">
                <div class="nav-item">
                    <img src="/static/img/home-icon.png" alt="home">
                    Home
                </div>
            </a>
            <!-- home -->
            <a href="/view_categories">
                <div class="active">
                    <img src="/static/img/categories.png" alt="category">
                    Categories
                </div>
            </a>
            <!-- create post -->
            {{if .LoggedInUser}}
            <a href="/create_post">
                <div class="nav-item">
                    <img src="/static/img/addpost.png" alt="home">
                    Create Post
                </div>
            </a>
            {{end}}
            <!-- profile -->
            {{if .LoggedInUser}}
            <a href="/profile">
                <div class="nav-item">
                    <img src="/static/img/user.png" alt="home">
                    Profile
                </div>
            </a>
            {{end}}
            <!-- logout -->
            {{if .LoggedInUser}}
            <a href="/logout">
                <div class="nav-item">
                    <img src="/static/img/leave.png" alt="home">
                    Log out
                </div>
            </a>
            {{else}}
            <a href="/login">
                <div class="nav-item">
                    <img src="/static/img/switch.png" alt="home">
                    Login
                </div>
            </a>
            {{end}}
        </div>

        <div id="middle-posts">
            <h1>Create a new Category</h1>

            <div class="mobile-navbar">
                <a href="/home">
                    <div class="nav-item" >
                        <img src="/static/img/home-icon.png" alt="home">
                        Home
                    </div>
                </a>
                
                <a href="/view_categories">
                    <div class="active">
                        <img src="/static/img/categories.png" alt="category">
                        Categories
                    </div>
                </a>
                <!-- create post -->
                {{if .LoggedInUser}}
                <a href="/create_post">
                    <div class="nav-item">
                        <img src="/static/img/addpost.png" alt="home">
                        Create Post
                    </div>
                </a>
                {{end}}
                <!-- profile -->
                {{if .LoggedInUser}}
                <a href="/profile">
                    <div class="nav-item">
                        <img src="/static/img/user.png" alt="home">
                        Profile
                    </div>
                </a>
                {{end}}
                <!-- logout -->
                {{if .LoggedInUser}}
                <a href="/logout">
                    <div class="nav-item">
                        <img src="/static/img/leave.png" alt="home">
                        Log out
                    </div>
                </a>
                {{else}}
                <a href="/login">
                    <div class="nav-item">
                        <img src="/static/img/switch.png" alt="home">
                        Login
                    </div>
                </a>
                {{end}}
            </div>

            <p>Enter a name for your new category. This will help you organize your posts and make it easier for others to find them.</p>

            <form id="post-form" method="POST">
                <input class="account-int" name="category_name" placeholder="Enter category name" required><br>
                {{if .ErrorMessage}}
                <div id="error">
                    {{.ErrorMessage}}
                    <br><br>
                </div>
                {{end}}
                <div class="form-btns">
                    <input class="pink-rounded-button" type="submit" value="Create Category">
                    <p><a href="/view_categories">Cancel</a></p>
                </div>
            </form>
            
        </div>
    </div>
    <script src="/js/CloseBrowserLogout.js"></script>
</body>
</html>