<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link href="/static/css/create-post.css" rel="stylesheet" type="text/css">
    <link href="/static/css/navbar.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
</head>
<body>
    <div id="topbar">
        <img src="/static/img/LOGO.png" width="100px" height="auto" alt="logo"/>
    </div>
    <div id="flex">
        <div id="navbar">
            <!-- home -->
            <a href="/home">
                <div class="nav-item">
                    <img src="/static/img/home-icon.png" alt="home">
                    Home
                </div>
            </a>
            <!-- home -->
            <a href="/view_categories">
                <div class="nav-item">
                    <img src="/static/img/categories.png" alt="home">
                    Categories
                </div>
            </a>
            <!-- create post -->
            {{if .LoggedInUser}}
            <a href="/create_post">
                <div class="active">
                    <img src="/static/img/addpost.png" alt="home">
                    Create Post
                </div>
            </a>
            {{end}}
            <!-- profile -->
            {{if .LoggedInUser}}
            <a href="/profile">
                <div class="nav-item">
                    <img src="/static/img/user.png" alt="home">
                    Profile
                </div>
            </a>
            {{end}}
            <!-- logout -->
            {{if .LoggedInUser}}
            <a href="/logout">
                <div class="nav-item">
                    <img src="/static/img/leave.png" alt="home">
                    Log out
                </div>
            </a>
            {{else}}
            <a href="/login">
                <div class="nav-item">
                    <img src="/static/img/switch.png" alt="home">
                    Login
                </div>
            </a>
            {{end}}
    </div>
    <div id="middle-posts">
        <div class="greetings">
            <br>
            <h1>Create a Post</h1>
            <br>
        </div>

        <div class="mobile-navbar">
            <a href="/home">
                <div class="nav-item">
                    <img src="/static/img/home-icon.png" alt="home">
                    Home
                </div>
            </a>
            
            <a href="/view_categories">
                <div class="nav-item">
                    <img src="/static/img/categories.png" alt="category">
                    Categories
                </div>
            </a>
            <!-- create post -->
            {{if .LoggedInUser}}
            <a href="/create_post">
                <div class="active">
                    <img src="/static/img/addpost.png" alt="home">
                    Create Post
                </div>
            </a>
            {{end}}
            <!-- profile -->
            {{if .LoggedInUser}}
            <a href="/profile">
                <div class="nav-item">
                    <img src="/static/img/user.png" alt="home">
                    Profile
                </div>
            </a>
            {{end}}
            <!-- logout -->
            {{if .LoggedInUser}}
            <a href="/logout">
                <div class="nav-item">
                    <img src="/static/img/leave.png" alt="home">
                    Log out
                </div>
            </a>
            {{else}}
            <a href="/login">
                <div class="nav-item">
                    <img src="/static/img/switch.png" alt="home">
                    Login
                </div>
            </a>
            {{end}}
        </div>

        <div id="create-post">
            <div class="post-structure">
                <div class="flex" >
                    <img src="/static/img/pfp.png" alt="pfp" class="pfp">
                    <h3>{{.LoggedInUser}}</h3>
                </div>
                <form id="post-form" method="POST" action="/create_post">
                    <textarea name="post_text" placeholder="Whats on your mind?" required></textarea>
                    <input class="pink-rounded-button" type="submit" value="Post">
                    <div id="category-error" class="error-message">Please select at least one category.</div>
                </div>
            </div>
            <div class="categories-div">
                <h4>Categories</h4>
                {{if .ErrorMessage}}
                    <div class="error-message" style="display: block;">{{.ErrorMessage}}</div>
                    <br>
                {{end}}
                <div id="category-checklist">
                    {{range .Categories}}
                    <div class="category-item">
                        <input type="checkbox" name="categories" value="{{.CategoryName}}" {{if eq .CategoryName "Random" }}checked{{end}}>
                        <label for="{{.CategoryName}}">{{.CategoryName}}</label><br>
                    </div>
                    {{end}}
                </div>
            </div>
        </form>
        <div id="cat-cta-btn">
            <a class="pink-rounded-button" href="/create_category">Create a new category</a>
            <a class="underline-btn" href="/home">Cancel</a>
        </div>
        </div>



    <style>
        .error-message {
            color: red;
            margin-top: 10px;
            display: none;
        }
    </style>
    <script>
        function validateForm() {
            var checkboxes = document.getElementsByName('categories');
            var isChecked = false;
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    isChecked = true;
                    break;
                }
            }
            if (!isChecked) {
                document.getElementById('category-error').style.display = 'block';
                return false;
            }
            return true;
        }
    </script>
    <script src="/js/CloseBrowserLogout.js"></script>
</body>
</html>