<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Sign up</title>
<link href="/static/css/register&login.css" rel="stylesheet" type="text/css">
<link rel="icon" type="image/png" href="/static/img/favicon.png">
</head>

<body>
    <div class="container">
        <div class="banner">
            <img src="/static/img/LOGO.png" alt="logo"/>
            <h1>Welcome to talk!</h1>
            <a href="/login">
                <button class="sign-btn">LOG IN</button>
            </a>    
            <p><a href="/home"> Enter as guest</a></p>
        </div>
        <div class="sign-form">
            <form method="POST" action="/register">
                <h1>Create Account</h1>
                <input class="account-int" type="text" name="username" placeholder="Username" required><br>
                <input class="account-int" type="email" name="email" placeholder="Email" required><br>
                <input class="account-int" type="password" name="password" placeholder="Password" required><br>
                <input class="sign-btn" type="submit" value="REGISTER">
                <div class="mobile-links">
                    <a href="/login" class="mobile-link-login">
                        <button type="button" class="mobile-btn">Already Have an account?</button>
                    </a> 
                    <p><a href="/home"> Enter as guest</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
