<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Post.PostText}}</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
</head>
<body>
    <div id="topbar">
        <img src="/static/img/LOGO.png" width="100px" height="auto" alt="logo"/>
    </div>
    <div id="flex">
        <div id="navbar">
            <!-- home -->
            <a href="/home">
                <div class="active">
                    <img src="/static/img/home-icon.png" alt="home">
                    Home
                </div>
            </a>
            <!-- home -->
            <a href="/view_categories">
                <div class="nav-item">
                    <img src="/static/img/categories.png" alt="home">
                    Categories
                </div>
            </a>
            <!-- create post -->
            {{if .LoggedInUser}}
            <a href="/create_post">
                <div class="nav-item">
                    <img src="/static/img/addpost.png" alt="home">
                    Create Post
                </div>
            </a>
            {{end}}
            <!-- profile -->
            {{if .LoggedInUser}}
            <a href="/profile">
                <div class="nav-item">
                    <img src="/static/img/user.png" alt="home">
                    Profile
                </div>
            </a>
            {{end}}
            <!-- logout -->
            {{if .LoggedInUser}}
            <a href="/logout">
                <div class="nav-item">
                    <img src="/static/img/leave.png" alt="home">
                    Log out
                </div>
            </a>
            {{else}}
            <a href="/login">
                <div class="nav-item">
                    <img src="/static/img/switch.png" alt="home">
                    Login
                </div>
            </a>
            {{end}}
        </div>
    <div id="middle-posts">
        <div class="greetings">
            <br>
            <br>
        </div>
        <div id="posts">
            <div class="post-structure view-post-struct">
                <div class="username">
                    <h5>{{.Post.Username}}</h5>
                    <p>posted on ({{.Post.PostDate}})</p>
                </div>
                <div class="post-category">
                    {{range .Categories}}
                    {{.}}
                    {{end}}
                </div>
                <div class="post-text">
                    {{.Post.PostText}}
                </div>
                <div class="post-options">
                    <form method="POST" class="like-form">
                        <button type="submit" class="like-button" data-post-id="{{.Post.PostID}}" data-is-liked="{{.PostLikedOrNot.IsLiked}}">
                            <div id="like-heart-{{.Post.PostID}}" class="heartLike"></div>
                        </button>
                    </form>
                    <b>
                        Likes <span id="like-count-{{.Post.PostID}}">{{.Post.LikeCount}}</span>
                    </b>

                    <form method="POST" class="dislike-form">
                        <button type="submit" class="dislike-button" data-post-id="{{.Post.PostID}}" data-is-disliked="{{.PostLikedOrNot.IsDisliked}}">
                            <div id="dislike-heart-{{.Post.PostID}}" class="heartDislike"></div>
                        </button>
                    </form>
                    <b>
                        Dislikes <span id="dislike-count-{{.Post.PostID}}">{{.Post.DislikeCount}}</span>
                    </b>
                </div>
            </div>
        </div>
        <div id="comment-form">
            {{if .LoggedInUser}}
                <form method="POST" action="">
                    <textarea name="comment_text" placeholder="Enter your comment" required></textarea>
                    <button id="reply-button" type="submit">Reply</button>
                </form>
            {{else}}
                <a href="/login">
                    <button class="pink-rounded-button guest-btn">
                        login to add a comment
                    </button>
                </a>
            {{end}}
        </div>
    <div id="comments-list">
        {{range .Comments}}
        <div class="comment-sec">
            <div class="line"></div>
            <div class="comment-box">
                <h6><b>{{.Username}}</b></h6>
                <br>
                 <p>{{.CommentText}}</p>
                <br>
                <br>
                <div class="comment-option">
                    {{if $.LoggedInUser}}
                    <!-- <form method="POST" action="/clike/{{.CommentID}}">
                    <button type="submit"><div class="heartLike"></div></button>
                    </form>
                    <span id="like-count-{{.CommentID}}">{{.LikeCount}}</span> 
                    <form method="POST" action="/cdislike/{{.CommentID}}">
                        <button type="submit"><div class="heartDislike"></div></button>
                    </form>
                    <span id="dislike-count-{{.CommentID}}">{{.DislikeCount}}</span> -->
                    <form method="POST" class="clike-form">
                        <button type="submit" class="clike-button" data-comment-id="{{.CommentID}}">
                            <div id="clike-heart-{{.CommentID}}" class="heartcLike"></div>
                        </button>
                    </form>
                    <b>
                        Likes <span id="clike-count-{{.CommentID}}">{{.LikeCount}}</span>
                    </b>


                    <form method="POST" class="cdislike-form">
                        <button type="submit" class="cdislike-button" data-comment-id="{{.CommentID}}">
                            <div id="cdislike-heart-{{.CommentID}}" class="heartcDislike"></div>
                        </button>
                    </form>
                    <b>
                        Dislikes <span id="cdislike-count-{{.CommentID}}">{{.DislikeCount}}</span>
                    </b>
                {{end}}
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
<div id="news">
    <div id="popular-category-box">
        <h4>Popular Categories</h4>
        {{range .PopularCategory}}
        <!-- category list item -->
        <a href="/category/{{.CategoryID}}">
            <div class="category-box">
                <div class="flex">
                    <img src="/static/img/category - pink.png" alt="category-icon">
                    <h6>{{.CategoryName}}</h6>
                </div>
                <p>{{.PostCount}} posts under this category</p>
            </div>
        </a>
        {{end}}
    </div>
</div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $('#comment-form').submit(function(e) {
            e.preventDefault();
            var commentText = $('textarea[name="comment_text"]').val();
            $.ajax({
            url: '/add_comment/{{.Post.PostID}}',
            type: 'POST',
            data: { comment_text: commentText },
            success: function(data) {
            // Append the new comment to the comments list
            $('#comments-list').append('<li>' + data.comment_text + '</li>');

            // Wait for 2 seconds and then refresh the page
            setTimeout(function() {
            location.reload();
            }, 1);
            }
            });
            });
    </script>
    <script src="/js/keepHeartRed.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/commetLike.js"></script>

        <style>
            body{
                background-color: #fbfafb;
            }
        </style>
</body>
</html>