<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post {{.Post.PostID}}</title>
    <link href="/static/css/view-post.css" rel="stylesheet" type="text/css">
    <link href="/static/css/navbar.css" rel="stylesheet" type="text/css">

    <link rel="icon" type="image/png" href="/static/img/favicon.png">
</head>
<body>
    <div id="topbar">
        <img src="/static/img/LOGO.png" width="100px" height="auto" alt="logo"/>
    </div>
    <div id="flex">
        <div id="navbar">
            <!-- home -->
            <a href="/home">
                <div class="active">
                    <img src="/static/img/home-icon.png" alt="home">
                    Home
                </div>
            </a>
            <!-- home -->
            <a href="/view_categories">
                <div class="nav-item">
                    <img src="/static/img/categories.png" alt="home">
                    Categories
                </div>
            </a>
            <!-- create post -->
            {{if .LoggedInUser}}
            <a href="/create_post">
                <div class="nav-item">
                    <img src="/static/img/addpost.png" alt="home">
                    Create Post
                </div>
            </a>
            {{end}}
            <!-- profile -->
            {{if .LoggedInUser}}
            <a href="/profile">
                <div class="nav-item">
                    <img src="/static/img/user.png" alt="home">
                    Profile
                </div>
            </a>
            {{end}}
            <!-- logout -->
            {{if .LoggedInUser}}
            <a href="/logout">
                <div class="nav-item">
                    <img src="/static/img/leave.png" alt="home">
                    Log out
                </div>
            </a>
            {{else}}
            <a href="/login">
                <div class="nav-item">
                    <img src="/static/img/switch.png" alt="home">
                    Login
                </div>
            </a>
            {{end}}
        </div>
    <div id="middle-posts">
        <div class="greetings">
            <a class="Back" href="/home">Back</a>
            <br>
            <br>
        </div>
        <div id="posts">
            <div class="post-structure view-post-struct">
                <div class="username">
                    <h5>{{.Post.Username}}</h5>
                    <p>posted on ({{.Post.PostDate}})</p>
                </div>
                <div class="post-category">
                    {{range .Categories}}
                    {{.}}
                    {{end}}
                </div>
                <div class="post-text">
                    {{.Post.PostText}}
                </div>
                <div class="post-options">
                    {{if .LoggedInUser}}
                    <form method="POST" class="like-form">
                        <button type="submit" class="like-button" data-post-id="{{.Post.PostID}}" data-is-liked="{{.PostLikedOrNot.IsLiked}}">
                            <div id="like-heart-{{.Post.PostID}}" class="heartLike"></div>
                        </button>
                    </form>
                    {{end}}
                    <b>
                        Likes <span id="like-count-{{.Post.PostID}}">{{.Post.LikeCount}}</span>
                    </b>
                    {{if .LoggedInUser}}
                    <form method="POST" class="dislike-form">
                        <button type="submit" class="dislike-button" data-post-id="{{.Post.PostID}}" data-is-disliked="{{.PostLikedOrNot.IsDisliked}}">
                            <div id="dislike-heart-{{.Post.PostID}}" class="heartDislike"></div>
                        </button>
                    </form>
                    {{end}}
                    <b>
                        Dislikes <span id="dislike-count-{{.Post.PostID}}">{{.Post.DislikeCount}}</span>
                    </b>
                </div>
            </div>
        </div>
        <div id="comment-form">
            {{if .LoggedInUser}}
                <form method="POST" action="/view_post/{{.Post.PostID}}">
                    <textarea name="comment_text" placeholder="Enter your comment" required></textarea>
                    <button id="reply-button" type="submit">Reply</button>
                </form>
            {{else}}
                <a href="/login">
                    <button class="pink-rounded-button guest-btn">
                        login to add a comment
                    </button>
                </a>
            {{end}}
        </div>
    <div id="comments-list">
        {{range .Comments}}
        <div class="comment-sec">
            <div class="line"></div>
            <div class="comment-box">
                <h6><b>{{.Username}}</b></h6>
                <br>
                 <p>{{.CommentText}}</p>
                <br>
                <br>
                <div class="comment-option">
                    {{if $.LoggedInUser}}

                    <form method="POST">
                        <button type="submit" class="clike-button" data-comment-id="{{.CommentID}}" data-is-liked="{{.IsLiked}}">
                            <div class="heartLike" id="clike-heart-{{.CommentID}}"></div>
                        </button>
                    </form>
                    <b>Likes <span id="clike-count-{{.CommentID}}">{{.LikeCount}}</span> </b>

                    <form method="POST">
                        <button type="submit" class="cdislike-button" data-comment-id="{{.CommentID}}" data-is-disliked="{{.IsDisliked}}">
                            <div class="heartDislike" id="cdislike-heart-{{.CommentID}}"></div>
                        </button>
                    </form>
                    <b>Dislikes <span id="cdislike-count-{{.CommentID}}">{{.DislikeCount}}</span></b> 
                                      
                {{end}}
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
<div id="news">
    <div id="popular-category-box">
        <h4>Popular Categories</h4>
        {{range .PopularCategory}}
        <!-- category list item -->
        <a href="/category/{{.CategoryID}}">
            <div class="category-box">
                <div class="flex">
                    <img src="/static/img/category - pink.png" alt="category-icon">
                    <h6>{{.CategoryName}}</h6>
                </div>
                <p>{{.PostCount}} posts under this category</p>
            </div>
        </a>
        {{end}}
    </div>
</div>
</div>
    
    <script src="/js/addComment.js"></script>
    <script src="/js/keepHeartRed.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/commentLike.js"></script>
</body>
</html>